*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/
header{
    position: sticky;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.822);
    top: 0;
    z-index: 1;
}

.botton-position{
    text-align-last: right;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
}
button{
    border: solid  white 2px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-radius: 25px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}


/*main*/
main{
    height: calc(100vh - 150px);
    background-color: rgb(73, 4, 163);
    display: flex;
}
#sidebar{
    width: 175px;
    height:  100%;
    background-color: rgb(202, 6, 6); 
    overflow-y: hidden;

}

/*footeer*/
footer{
    height: 150px;
    background-color: black;
}

.linear{
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
}


/*utility*/
#padding-2{
    padding-bottom: 2px;
}
.padding-20{
    padding: 20px;
}
.padding-5{
    padding: 5px;
}
.padding-right{
    padding-right: 4px;
}
.padding-left{
    padding-left: 25px;
}

.row{
    display: flex;
}
.d-column{
    flex-direction: column;
}

.j-content-cent{
    justify-content: center;
}

.aling-center{
    align-content: center;
}

.aling-i-center{
    align-items: center;
}


.align-self-c{
    align-self: center
}

.wrap{
flex-wrap: wrap;
}

.aling-b{
    align-content: space-between;
}

.j-content-beet{
    justify-content: space-between
}


.hidden{
    
}

.circle{
    border-radius: 50%;
}

.col{
    border:1px solid black;
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: aquamarine;
    justify-items: center;
}



.square{
    background-color: red;
    border:1px solid black;
    margin: 20px;
    text-align: center;
}

.square-w{
    width:50%; 
}

.wid-100{
    width: 100%;
}

.nobr{
    white-space:nowrap
}

#content{
    width: calc(100vw - 150px);
    min-height: calc(100vh - 150px);
    overflow-y: auto;
    height: calc(100vh/3);
}

h2{
    color: white;
    margin-left: 10px;
}

p{
    margin: 10px;
}

.marg-l-10{
    margin: 10px;
}

.color-white{
    color: white;
}

.color-black{
    color: black;
}

.color-grey{
    color: grey;
}

.color-grey-light{
    color: rgb(179, 179, 179);
}

.color-green{
    color:rgb(8, 255, 8)
}

.div-color-green{
    border-top: solid 3px;
    width: 60%;
}

.div-color-green-left{
    border-left: solid 4px;
    
    color:rgb(8, 255, 8)
}

.green-fix{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bgray-icon{
    background-color: rgb(179, 179, 179);
    margin-top: 5px;
    gap: 11px;
    padding: 3px;
}

.plus-bgray-icon{
    background-color: rgb(179, 179, 179);
    margin-top: 5px;
    padding: 21px 12px 11px 9px;
}

.bord-white{
    border: solid white 2px;
}

li{
    list-style: none;
    
}

img{
    width: 100%;
    height: 100%;
}

.logo{
    display: none;
}

.icon-fix{
    margin-left: 8px;
    margin-right: -5px;
    padding-left: 0px;
}

.target-circle {
    border-radius: 50%;
}
.marg-l-10 > li{
    padding: 5px;
}

.icon-size{
    height: 40px;
    width: 40px;
}
.icon-small{
    height: 20px;
    width: 20px;
}

.text-icon{
    display: inline-flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



.filtro{
    filter: grayscale (50%)
}

.z-index{
    z-index: 1;
}
.patua-one-regular {
    font-family: "Patua One", serif;
  }

.whr-1{
    width: 600px;
    background-color: rgb(123, 121, 121);
    padding: 1px;
    border-radius: 25%;
}
.whr-2{
    margin-top: 5px;
    width: 300px;
    background-color: aliceblue;
    border-radius: 25%;
    padding: 1px;
}

.whr-3{
    width: 60px;
    background-color: rgb(123, 121, 121);
    border-radius: 25%;
}
.whr-4{
    width: 30px;
    background-color: aliceblue;
    border-radius: 25%;
}

.point{
    bottom: 10px;
    padding: 5px;
    border-radius: 50%;
    border: solid 1px grey;
    background-color: white;
    width: 2px;
    position: relative;
    right: -295px;
}
.position-rl{
    position: relative;
}

/*hover*/
.card-white{
    
}
.card-white:hover{
    color: white;
}

.card-size{

}
.card-size:hover{
    padding: 20px;
}

.card-image{
    position: relative;
    opacity: 1;  
}



.card-image:hover{
    opacity: 0.7;
    content: url(https://static.vecteezy.com/ti/vettori-gratis/t2/7126491-icona-vettore-pulsante-riproduzione-musicale-vettoriale.jpg);
    width: 100%;
    height: max-content;
}

.position-card{

}

.z-index-0{
  z-index: 0;
}
.z-index-1{
  z-index: 1;
}




